body {  
    background-color: aquamarine
  }

h1 {
    color: rgb(236, 100, 100);
    font-size: 45px;
    text-align: center;
    box-shadow : 40px;
}

  li {
      font-size: 22px;
      color: red;

}
.text-1 {
    color: red;
}
.text-2 {
   color: grey;
}   
.text-3  {
    color: blueviolet;
}
.photo-1 {
    width: 500px;
    height: 200px;
    margin-left: 250px;
}
.linb {
     text-decoration: none
}